/* ============================ */
/* GENERAL REUSIBLE COMPONENTS */
/* ============================ */

:root {
  --color-primary: #e67e22;
  --color-tint-1: #fdf2e9;
  --color-tint-2: #fae5d3;
  --color-tint-8: #eb984e;
  --color-tint-9: #e98b38;
  --color-shade-1: #cf711f;
  --color-shade-7: #45260a;
  --color-shade-5: #733f11;
  --color-yellow-1: #ffd43b;
  --color-grey1: #333;
  --color-grey2: #555;
  --color-grey3: #6f6f6f;
  --color-grey4: #999;
  --color-grey5: #ddd;

  --border-radius-default: 9px;

  --font-w-default: 400;
  --font-w-medium: 500;
  --font-w-semi-bold: 600;
  --font-w-bold: 700;

  --section-padding: 9.6rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-center-align {
  align-items: center;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5cols {
  grid-template-columns: repeat(5, 1fr);
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--font-w-bold);
  color: #333;
  letter-spacing: -0.05rem;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: var(--font-w-medium);
  color: var(--color-shade-1);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 2rem;
  font-weight: var(--font-w-semi-bold);
  color: white;

  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;

  transition: all 300ms;
}

.btn-full:link,
.btn-full:visited {
  display: inline-block;
  background-color: var(--color-primary);
  color: white;
}

.btn-full:hover,
.btn-full:active {
  background-color: var(--color-shade-1);
}

.btn-outline:link,
.btn-outline:visited {
  background-color: white;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: var(--color-tint-1);

  /* trick to add border inside */
  box-shadow: inset 0 0 0 3px white;
}

.btn-form {
  background-color: var(--color-shade-8);
  color: var(--color-tint-1);
  transition: all 300ms;
  align-self: flex-end;
  cursor: pointer;
}

.btn-form:hover {
  background-color: var(--color-shade-5);
  color: var(--color-tint-1);
}

.link:link,
.link:visited {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.link:hover,
.link:active {
  color: var(--color-shade-1);
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.list-icon {
  font-size: 2.6rem;
  color: var(--color-shade-1);
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(235, 151, 78, 0.5);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: var(--font-w-semi-bold);
}
