/* 
--- TYPOGRAPHY SYSTEM

  - Font Size System (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font Weights:
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

  - Line heights:
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragraph default: 1.6

  letter-spacing: 0.75px;
  letter-spacing: -0.5px;



--- COLORS

  - Primary: #e67e22
  - Tints: #fdf2e9 #fae5d3
  - Shades: #cf711f
  - Accents: 
  - Greys: #555 #333

https://maketintsandshades.com/ 

--- IMAGES

https://unsplash.com/
https://www.uifaces.co/

--- SHADOWS


--- BORDER RADIUS

default: 9px
1.1rem

--- WHITESPACE

  - Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-primary: #e67e22;
  --color-tint-1: #fdf2e9;
  --color-tint-2: #fae5d3;
  --color-tint-8: #eb984e;
  --color-tint-9: #e98b38;
  --color-shade-1: #cf711f;
  --color-shade-7: #45260a;
  --color-shade-5: #733f11;
  --color-yellow-1: #ffd43b;
  --color-grey1: #333;
  --color-grey2: #555;
  --color-grey3: #6f6f6f;
  --color-grey4: #999;
  --color-grey5: #ddd;

  --border-radius-default: 9px;

  --font-w-default: 400;
  --font-w-medium: 500;
  --font-w-semi-bold: 600;
  --font-w-bold: 700;

  --section-padding: 9.6rem 0;
}
/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* =============================== */
/* BELLOW 1344px (Smaller desktops)*/
/* =============================== */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-remove-4 {
    display: none;
  }
}

/* =============================== */
/* BELLOW 1200px (Landscape Tablets)*/
/* =============================== */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
/* =============================== */
/* BELLOW 944px (Tablets portrait)*/
/* =============================== */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .section-hero {
    text-align: center;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .hero-text-box {
    width: 75%;
    margin: 0 auto;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
  .gallery-remove-4 {
    display: block;
  }
  .gallery-remove-2 {
    display: none;
  }
  .list-item {
    line-height: 1.2;
  }
  .cta {
    grid-template-columns: 55fr 45fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn-form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    transform: translateY(-120%);
    /* display: none; doesnt allow for animations, so we have to use these other settings to do it: */
    /* hide element visually */
    opacity: 0;

    /* make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/* =============================== */
/* BELLOW 704px (Smaller Tablets)*/
/* =============================== */
@media (max-width: 44em) {
  .grid-3cols,
  .grid-4cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1/ -1;
    justify-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .hero-text-box {
    width: 100%;
  }
  .hero-description {
    align-self: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
  }
  .logos img {
    justify-self: center;
  }
  .logos-first3-mobile {
    grid-row: 1;
    grid-column: span 2;
  }
  .logos-last2-mobile {
    grid-row: 2;
    grid-column: span 3;
  }
  .step-imgs {
    width: 55%;
  }
  .step-img-box::before {
    width: 80%;
    padding-bottom: 80%;
  }
  .step-img-box::after {
    width: 65%;
    padding-bottom: 65%;
  }
  .pricing-plan {
    width: 100%;
  }
  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 9.6rem 4.8rem;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .logo-col,
  .address-col {
    grid-row: 2;
    grid-column: span 3;
  }
}

/* =============================== */
/* BELLOW 544px (Smartphones)*/
/* =============================== */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid-2cols,
  .grid-3cols,
  .grid-4cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero-description {
    width: 100%;
  }
  .hero-img {
    width: 100%;
  }
  .logos {
    grid-template-columns: 1fr 1fr;
  }
  .logos-first3-mobile {
    grid-row: auto;
    grid-column: auto;
  }
  .logos-last2-mobile {
    grid-row: auto;
    grid-column: auto;
  }
  .logos-last1-mobile {
    grid-column: span 2;
  }
  .step-imgs {
    width: 45%;
  }
  .step-img-box::after {
    width: 60%;
    padding-bottom: 60%;
  }
  .step-img-box:nth-child(3) {
    grid-row: 4;
  }
  .step-img-box {
    transform: translateY(-2.4rem);
  }
  .feature {
    text-align: center;
  }
  .meal:hover {
    transform: none;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  }
  .testimonials {
    grid-template-columns: 1fr;
    gap: 5.6rem;
  }
  .testimonial-text {
    margin-bottom: 1rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .gallery-remove-2 {
    display: block;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 34rem;
    grid-row: 1;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
}
