/* 
--- TYPOGRAPHY SYSTEM

  - Font Size System (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font Weights:
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

  - Line heights:
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragraph default: 1.6

  letter-spacing: 0.75px;
  letter-spacing: -0.5px;



--- COLORS

  - Primary: #e67e22
  - Tints: #fdf2e9 #fae5d3
  - Shades: #cf711f
  - Accents: 
  - Greys: #555 #333

https://maketintsandshades.com/ 

--- IMAGES

https://unsplash.com/
https://www.uifaces.co/

--- SHADOWS


--- BORDER RADIUS

default: 9px
1.1rem

--- WHITESPACE

  - Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-primary: #e67e22;
  --color-tint-1: #fdf2e9;
  --color-tint-2: #fae5d3;
  --color-tint-8: #eb984e;
  --color-tint-9: #e98b38;
  --color-shade-1: #cf711f;
  --color-shade-8: #45260a;
  --color-yellow-1: #ffd43b;
  --color-grey1: #333;
  --color-grey2: #555;
  --color-grey3: #6f6f6f;
  --color-grey4: #999;
  --color-grey5: #ddd;
  --color-grey6: #eee;

  --border-radius-default: 9px;

  --font-w-default: 400;
  --font-w-medium: 500;
  --font-w-semi-bold: 600;
  --font-w-bold: 700;

  --section-padding: 9.6rem 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: var(--font-w-default);
  color: var(--color-grey2);
}

/* ============================ */
/* HEADER */
/* ============================ */

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-tint-1);

  padding: 0 4.8rem;
  /* because we want to be sticky later */
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

/* ============================ */
/* NAVIGATION */
/* ============================ */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: var(--font-w-medium);
  font-size: 1.8rem;
  transition: all 400ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-shade-1);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  color: white;
  background-color: var(--color-primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-shade-1);
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 4.8rem;
  color: var(--color-grey1);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ============================ */
/* HERO SECTION */
/* ============================ */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 200px;
  margin-right: -1.6rem;
  border: 3px solid var(--color-tint-1);
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: var(--font-w-semi-bold);
}

.delivered-text span {
  font-weight: var(--font-w-bold);
  color: var(--color-shade-1);
}

/* ============================ */
/* FEATURED IN SECTION */
/* ============================ */
.section-featured {
  padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: var(--font-w-medium);
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--color-grey4);
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* ============================ */
/* HOW IT WORKS SECTION */
/* ============================ */

.section-how {
  padding: var(--section-padding);
}

.step-number {
  font-size: 8.6rem;
  font-weight: var(--font-w-semi-bold);
  color: var(--color-grey5);
  margin-bottom: 1.2rem;
}

.step-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  display: block;

  border-radius: 1000px;
  position: absolute;
  z-index: -1;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--color-tint-1);
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--color-tint-2);
}

.step-imgs {
  width: 35%;
}

/* ============================ */
/* MEALS SECTION */
/* ============================ */
.section-meals {
  padding: var(--section-padding);
}

.meal {
  border-radius: 1.1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 400ms;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem;
  padding-top: 2.4rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.3rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-grey1);
  border-radius: 200px;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: var(--color-grey1);
  font-weight: var(--font-w-semi-bold);
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.meal-icon {
  font-size: 2.4rem;
  color: var(--color-shade-1);
}

/* ============================ */
/* TESTIMONIALS SECTION */
/* ============================ */

.section-testimonials {
  background-color: var(--color-tint-1);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 400ms;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ============================ */
/* PRICING SECTION */
/* ============================ */

.section-pricing {
  padding: var(--section-padding);
}
.pricing-plan {
  position: relative;
  border-radius: 11px;
  padding: 4.8rem;
  padding-bottom: 14rem;
  width: 75%;
}
.pricing-plan-starter {
  justify-self: end;
  box-shadow: inset 0 0 0 3px var(--color-tint-1);
}
.pricing-plan-complete {
  overflow: hidden;
  position: relative;
  background-color: var(--color-tint-1);
}
.pricing-plan-complete::after {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: var(--font-w-bold);
  top: 1.4rem;
  right: -3rem;
  background-color: var(--color-yellow-1);
  padding: 0.8rem 4rem;
  transform: rotate(30deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--color-shade-1);
  font-weight: var(--font-w-semi-bold);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: var(--font-w-semi-bold);
  color: var(--color-grey1);
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: var(--font-w-medium);
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-grey3);
}

.plan-sign-up {
  text-align: center;
  position: absolute;
  width: 65%;
  bottom: 4.8rem;
  left: 50%;
  transform: translate(-50%);
}
.list-grayed-out {
  opacity: 40%;
}

/* ============================ */
/* FEATURE SECTION */
/* ============================ */

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}

.feature-icon {
  color: var(--color-primary);
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: var(--color-tint-1);
  padding: 1.3rem;
  border-radius: 500px;
}
.feature-title {
  font-size: 2.4rem;
  color: var(--color-grey1);
  font-weight: var(--font-w-bold);
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ============================ */
/* CTA SECTION */
/* ============================ */

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: var(--color-primary); */
  background-image: linear-gradient(
    to right bottom,
    var(--color-tint-8),
    var(--color-primary)
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* height: 50rem; */
  overflow: hidden;
}
.cta-text-box {
  padding: 6.4rem;
  padding-top: 4.8rem;
  color: var(--color-shade-8);
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 4.8rem;
  color: var(--color-shade-8);
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      hsla(28, 80%, 61%, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../content/img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
  font-weight: var(--font-w-medium);
}

.cta-form div input,
.cta-form div select,
.cta-form button {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form div input,
.cta-form div select {
  color: inherit;

  background-color: var(--color-tint-1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(250, 229, 211, 0.5);
}

/* ============================ */
/* FOOTER SECTION */
/* ============================ */

.footer {
  border-top: 1px solid var(--color-grey6);
  padding: 12.8rem 0;
}

.footer-grid {
  grid-template-columns: 1.5fr 1.5fr repeat(3, 1fr);
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links ion-icon {
  font-size: 2.4rem;
  color: var(--color-grey3);
}

.copyright {
  font-size: 1.4rem;
  color: var(--color-grey3);
  margin-top: auto;
  line-height: 1.6;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.contacts p:first-child {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: var(--font-w-medium);
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address-col a,
.address-col p,
.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey3);
  transition: all 300ms;
}

.address-col a:hover,
.address-col p:hover,
.footer-nav li a:hover,
.footer-nav li a:active {
  color: var(--color-grey2);
}
